.img-xsm{
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
    max-width: 100%;
    height: 20px;
}
.font-small{
    font-size: small;
}
.font-xsmall{
    font-size: xx-small;
}
.width-10{
    width: 10%;
}
.width-20{
    width: 20%;
}
.width-15{
    width: 15%;
}
.width-25{
    width: 25%;
}
